doctype
html
    head
        title Details
        link(href='/css/style.css', rel='stylesheet')
    body
        p Name: #{person.name}
        p Age: #{person.age}
        p email: #{person.email}
        p Username: #{person.username}
        p password: #{person.password}
        p User-Level: #{person.userLevel}
        //- p answers:#{answers}
        br
        #menu
            a(href='/') Go back