doctype
html
    head
        title Edit Person
    body
        form(id='form', method='post', action='/edit/' + person.id)
            label(for='name') Name: 
            input(type='text', name='name' value=person.name)
            br
            label(for='age') Age: 
            input(type='text', name='age' value=person.age)
            br
            label(for='email') Email: 
            input(type='text', name='email' value=person.email)
            br
            label(for='username') Username: 
            input(type='text', name='username' value=person.username)
            br
            label(for='password') Password: 
            input(type='text', name='age' value=person.password)
            br
            label(for='userLevel') User-Level: 
            input(type='text', name='userLevel' value=person.userLevel)
            br
            //- label(for='answers') Answers: 
            //- input(type='text', name='answers' value=person.answers)
            //- br
            input(type='submit', value='Update Person')



